<% if @classroom.errors.any? %>
	<p class="bg-danger">
		There are some errors in the form, please check it.
	</p>
<% end %>

<%= simple_form_for @classroom do |f| %>

	<div class="form-group">
		<%= f.association :student, input_html: { class: 'form-control' } %>
	</div>

	<div class="form-group">
		<%= f.association :course, input_html: { class: 'form-control' } %>
	</div>


	<button class="btn btn-default" type="submit">Register</button>

<% end %>