
<h1> <%= t 'register.registrations' %> </h1>

<p class="text-info"><%= notice %></p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= t 'activerecord.attributes.classroom.student' %></th>
			<th><%= t 'activerecord.attributes.classroom.course' %> </th>
			<th><%= t 'activerecord.attributes.classroom.created_at' %></th>
			<th></th>
		</tr>	
	</thead>

	<tbody>
		
		<% @classrooms.each do |classroom| %>
			<tr>
				<td><%= classroom.student.name %></td>
				<td><%= classroom.course.name %></td>
				<td><%= classroom.created_at %></td>
				<td><%= link_to t("links.delete"), classroom_path(classroom), method: :delete, data: { confirm: t('messages.remove_classroom') } %></td>
			</tr>
		<% end %>

	</tbody>

</table>

<%= link_to t('register.new'), new_classroom_path , {role: 'button', class:'btn btn-default'} %>
