
<% if @student.errors.any? %>
	<p class="bg-danger">
		There are some errors in the form, please check it.
	</p>
<% end %>

<%= simple_form_for @student do |f| %>

	<div class="form-group">
		<%= f.input :name, input_html: { class: 'form-control' } %>
	</div>

	<div class="form-group">
		<%= f.input :register_number, input_html: { class: 'form-control' } %>
	</div>

	<div class="form-group">
		<%= f.input :status, collection: StudentStatus.to_a , input_html: { class: 'form-control' } %>
	</div>


	<%= f.submit :class => "btn btn-default" %>

<% end %>