
<h1> <%= t 'links.students' %> </h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th> <%= t 'activerecord.attributes.student.name' %> </th>
			<th> <%= t 'activerecord.attributes.student.register_number' %> </th>
			<th> Status </th>
			<th></th>
		</tr>	
	</thead>

	<tbody>
		
		<% @students.each do |student| %>
			<tr>
				<td><%= student.name %></td>
				<td><%= student.register_number %></td>
				<td><%= student.status_humanize %></td>
				<td><%= link_to t('links.edit'),  edit_student_path(student) %></td>
			</tr>
		<% end %>

	</tbody>

</table>

<%= link_to 'New Student',  new_student_path, {role: 'button', class:'btn btn-default'}  %>



