
<h1> <%= t 'links.courses' %> </h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th> <%= t 'activerecord.attributes.course.name' %> </th>
			<th> <%= t 'activerecord.attributes.course.description' %> </th>
			<th> Status </th>
		</tr>	
	</thead>

	<tbody>
		
		<% @courses.each do |course| %>
			<tr>
				<td><%= course.name %></td>
				<td><%= course.description %></td>
				<td><%= course.status_humanize %></td>
			</tr>
		<% end %>

	</tbody>

</table>

<%= link_to t('links.course.new'),  new_course_path, {role: 'button', class:'btn btn-default'} %>



