<!DOCTYPE html>
<html>
<head>
  	<title>ProficiencyTest</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  	<!-- Bootstrap Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>

	<header>
			<h1><%= link_to "school.net", root_path %></h1>
			<nav>
				<ul>
					<li><%= link_to t('links.courses'), courses_path %></li>
					<li><%= link_to t('links.students'), students_path %></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
